<% provide(:title, "About") %>
<div class="container">
	<h1>About Hooligan</h1>
	<p>A site for soccer fans, and fans of soccer fans.</p>
	<p>Updated daily, get scores and highlights.</p>
	<!-- <p>Sport, in a way, is the perfect linguistic tool.</p> -->

	<blockquote>"I use this website daily and get updates sent to my phone so that even when I'm away from my desk, I can still sound like just a big, normal man."  <strong>Maurice Moss</strong></blockquote>

	<blockquote>"Did you see that ludicrous display last night?" <strong>Roy Trenneman</strong></blockquote>

	<p>Created by <%= link_to "Anna Atiba", "http://ann-atiba.herokuapp.com/" %></p>
</div>

