<h1>About Hooligan</h1>
<p>A site for soccer fans, and fans of soccer fans.</p>
<p>Updated daily, get scores and highlights.</p>
<p>So you can sound like you're just a big, normal man. 'Moss'</p>

<p>Sport, in a way, is the perfect linguistic tool.</p>
