<% provide(:title, "Help") %>
<div class="container">
	<h1>FAQs</h1>
	<h3>1. Is this site inspired by the IT Crowd, Season 3, Episode 2 "Are we not men?"</h3>
	<p>Yes! It is also inspired by my experience learning football and being indoctrinated into FC Barcelona <del>religion</del> fandom while I lived in Barcelona after college.</p>

	<h3>2. What is the greatest football team?</h3>
	<p>FC Barcelona, obviously! But all fans are welcome here.</p>

	<h3>3. Are you going to style this page?</h3>
	<p>Yes, but not today. (March 12, 10am)</p>
</div>
