<% provide(:title, "Welcome") %>
<div class="welcome-container container-fluid">		
	<div class="welcome-div">
		<h1>hoo·li·gan</h1>
		<p class="definition">/ˈho͞oləɡən/ n.  An overly zealous football fan.</p>
		<p><%= link_to "Did you see that ludicrous display last night?*", "https://www.youtube.com/embed/6yN2H3--1aw"%></p>
	</div>	
</div>
