<% provide(:title, "In-Depth") %>
<div class="container">
	<h1>Topic In-Depth</h1>
	<h2><%= link_to @current_article[:title], @current_article[:link] %></h2>
	<h5><%= link_to @current_article[:byline], @current_article[:link] %></h5>
	<h6><%= link_to @current_article[:time], @current_article[:link] %></h6>

	<p style="text-align: justify;"><%= @current_article[:body] %></p>
</div>