<h1>Futbol Terminology</h1>
<%# @posts.each do |post| %>
	<p><%#= post[:title] %></p>
<%# end %>

<%# @definitions.each do |definition| %>
	<p><%#= definition[:body] %></p>
<%# end %>

<p><%= @posts %></p>