// Place all the styles related to the recaps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic");


img {
	max-width: 300px;
}


.articleWrapper {
	padding-bottom: 5px;
	border-bottom: 1px solid #dddddd;

}
.article-style {
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	text-align: justify;

	a {
		color: #222;
		&:hover {
			text-decoration: none;
		}
	}
}

h4 a {
	color: #222;
}


.recaps, .blather {
	overflow: scroll;
}